CytomicBlue PNG ..\..\..\..\Resources\Knobs\CytomicBlue.png
CytomicYellow PNG ..\..\..\..\Resources\Knobs\CytomicYellowSmall.png
CytomicGreen PNG ..\..\..\..\Resources\Knobs\CytomicGreenSmall.png
CytomicVUMeter PNG ..\..\..\..\Resources\Knobs\CytomicVUMeter.png
CytomicButtonOnOff PNG ..\..\..\..\Resources\Knobs\CytomicButtonOnOff.png
CytomicButtonPeakClip PNG ..\..\..\..\Resources\Knobs\CytomicButtonPeakClip.png
CytomicButtonSideChain PNG ..\..\..\..\Resources\Knobs\CytomicButtonSideChain.png
