BassExtender PNG "..\..\..\Resources\Knobs\Bass Extender.png"
BassExtenderPan PNG "..\..\..\Resources\Knobs\Bass Extender Pan.png"
BassExtenderThreshold PNG "..\..\..\Resources\Knobs\Bass Extender Threshold.png"
