PanKnob PNG ..\..\..\..\Resources\Knobs\LA1701IO.png
RatioKnob PNG ..\..\..\..\Resources\Knobs\LA1701Ratio.png
AttackKnob PNG ..\..\..\..\Resources\Knobs\LA1701Attack.png
ReleaseKnob PNG ..\..\..\..\Resources\Knobs\LA1701Release.png
VUMeter PNG ..\..\..\..\Resources\Knobs\LA1701VUMeter.png
