Knob1 PNG ..\..\..\..\Resources\Knobs\EQKnob.png
Knob2 PNG ..\..\..\..\Resources\Knobs\EQKnob2.png
Knob3 PNG ..\..\..\..\Resources\Knobs\EQKnob3.png
VUMeter PNG ..\..\..\..\Resources\Knobs\EQVUMeter.png
Switch PNG ..\..\..\..\Resources\Knobs\EQSwitch.png
